.login-page main {
  padding: 2rem;
}

.login-page main h1 {
  color: #173b6c;
  position: relative;
  padding: 5px 0;
  margin: 3rem;
}

.login-page main h1:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #149ddd;
  bottom: 0;
  left: 0;
  display: block;
}

.login-page main main {
  background-color: white;
  max-width: 600px;
}

.login-page .manage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  gap: 4rem;
}

.login-page .manage ul.manage-nav {
  padding: 2rem 1rem;
  margin-top: 0;
  margin-left: 0;
  border-radius: 3px;
}

.login-page .manage ul.manage-nav li {
  list-style: none;
  margin: 1rem auto;
}

.login-page .manage .contain {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.login-page .manage .contain form {
  margin: auto;
}

.manage-page main {
  padding: 2rem;
}

.manage-page .manage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  gap: 4rem;
}

.manage-page .manage ul.manage-nav {
  padding: 2rem 1rem;
  margin-top: 0;
  margin-left: 0;
  border-radius: 3px;
}

.manage-page .manage ul.manage-nav li {
  list-style: none;
  margin: 1rem auto;
}

.manage-page .manage .contain {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.manage-page .manage .contain form {
  margin: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

.container {
  margin: auto;
  padding: 0 15px;
  max-width: 1500px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 1px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 1;
}

nav div .logo {
  margin: 0 3rem;
  font-weight: 900;
  font-size: 1.5rem;
  color: #149ddd;
}

nav div .logo a {
  text-decoration: none;
}

nav div .icon {
  display: none;
  font-size: 1.5rem;
  text-decoration: none;
  color: #09777d;
}

nav .menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3rem;
  margin: auto 3rem;
  padding: 0;
  font-size: 1.1rem;
}

nav .menu li {
  margin: 0 1.5rem;
}

nav .menu li a {
  color: #09777d;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  height: 2rem;
}

nav .menu li a:hover {
  border-bottom: solid 2px #b0c7df;
}

.nav-scroll-underline {
  border-bottom: solid 2px #b0c7df;
}

@media (max-width: 950px) {
  .nav-flex {
    display: block;
    position: -webkit-sticky;
    position: sticky;
  }
  .nav-flex div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 64px;
  }
  .nav-flex div .icon {
    display: inline-block;
    float: right;
    margin: auto 2rem;
  }
  .nav-flex .menu {
    display: none;
  }
  .nav-flex .menu.responsive {
    display: block;
  }
  .nav-flex .menu.responsive li {
    display: block;
    margin: .5rem auto;
  }
}

@media (max-width: 600px) {
  .nav-flex div .logo {
    font-size: 1.2rem;
  }
}

.home {
  margin: 0;
  min-height: calc(100vh - 4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .intro {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .intro .intro_myself {
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .intro .intro_myself h1 {
  position: relative;
  padding: 5px 0;
  color: #173b6c;
  font-size: 5rem;
}

.home .intro .intro_myself h4 {
  font-weight: bold;
  margin: 1rem;
  font-size: 3rem;
}

.home .intro .intro_myself ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .intro .intro_myself ul li i {
  margin: 1rem;
  font-size: 1.7rem;
}

.home .intro .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
}

.home .intro .img img {
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 350px;
}

@media (max-width: 1300px) {
  .home {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home .intro {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: wrap column-reverse;
            flex-flow: wrap column-reverse;
  }
}

@media (max-width: 800px) {
  .home .intro .intro_myself {
    margin: 1rem;
  }
  .home .intro .intro_myself h1 {
    font-size: 4rem;
  }
  .home .intro .intro_myself h4 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .home {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home .intro {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: wrap column-reverse;
            flex-flow: wrap column-reverse;
  }
  .home .intro .intro_myself h1 {
    font-size: 3rem;
  }
  .home .intro .intro_myself h4 {
    font-size: 1.5rem;
    margin: 0 .5rem;
    text-align: center;
  }
  .home .intro .intro_myself ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .intro .intro_myself ul li i {
    margin: 1rem;
    font-size: 2rem;
  }
  .home .intro .img {
    margin: 2rem 0;
  }
  .home .intro .img img {
    width: 290px;
  }
}

.about-page {
  background-color: #f5f8fd;
  min-height: 100vh;
}

.about-page .about-title {
  padding: 3rem;
}

.about-page .about-title h1 {
  color: #173b6c;
  position: relative;
  padding: 5px 0;
  margin: 3rem;
}

.about-page .about-title h1:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #149ddd;
  bottom: 0;
  left: 0;
  display: block;
}

.about-page .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4rem;
}

.about-page .about-content .svg svg {
  width: 100%;
  height: 500px;
}

.about-page .about-intro {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-page .about-intro .about-skill {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.about-page .about-intro .about-skill li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.about-page .about-intro .about-skill li i {
  margin: auto;
  font-size: 3rem;
}

.about-page .about-intro .about-skill li .fa-html5 {
  color: #E55126;
}

.about-page .about-intro .about-skill li .fa-css3-alt {
  color: #0C73B8;
}

.about-page .about-intro .about-skill li .fa-js-square {
  color: #E5A229;
}

.about-page .about-intro .about-skill li .fa-bootstrap {
  color: #553D7C;
}

.about-page .about-intro .about-skill li .fa-sass {
  color: #CE6799;
}

@media (max-width: 1200px) {
  .about-page .about-content .svg svg {
    width: 100%;
    height: 500px;
  }
  .about-page .about-intro .about-skill li {
    font-size: .8rem;
  }
  .about-page .about-intro .about-skill li i {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  .about-page .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 4rem;
    padding: .8rem;
  }
  .about-page .about-content .svg svg {
    width: 100%;
    height: 200px;
  }
  .about-page .about-intro {
    gap: 3rem;
    padding: 1rem;
  }
  .about-page .about-intro .about-skill li {
    font-size: .8rem;
  }
  .about-page .about-intro .about-skill li i {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .about-page .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 4rem;
  }
  .about-page .about-content .svg svg {
    width: 100%;
    height: 200px;
  }
  .about-page .about-intro {
    gap: 3rem;
    padding: .5rem;
  }
  .about-page .about-intro h4 {
    font-size: 1.3rem;
  }
  .about-page .about-intro .about-skill li {
    font-size: .5rem;
  }
  .about-page .about-intro .about-skill li i {
    font-size: 2rem;
  }
}

.experience-page {
  min-height: 100vh;
}

.experience-page .experience-title {
  padding: 3rem;
}

.experience-page .experience-title h1 {
  color: #173b6c;
  position: relative;
  padding: 5px 0;
  margin: 3rem;
}

.experience-page .experience-title h1:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #149ddd;
  bottom: 0;
  left: 0;
  display: block;
}

.experience-page .experience-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
  gap: 2rem;
}

.experience-page .experience-content .education, .experience-page .experience-content .work-experience {
  min-width: 300px;
  width: 45%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 10px 1px;
          box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 10px 1px;
}

@media (max-width: 1000px) {
  .experience-page .experience-content .education, .experience-page .experience-content .work-experience {
    width: 100%;
  }
}

.experience-page .experience-content .education ul, .experience-page .experience-content .work-experience ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
}

.experience-page .experience-content .education ul li, .experience-page .experience-content .work-experience ul li {
  margin: 1rem;
}

.experience-page .experience-content .education ul li h3, .experience-page .experience-content .work-experience ul li h3 {
  color: #173b6c;
  position: relative;
  display: inline-block;
  font-weight: 1000;
}

.experience-page .experience-content .education ul li p, .experience-page .experience-content .work-experience ul li p {
  font-weight: 700;
  color: #3e64ff;
  font-size: 1.2rem;
}

.experience-page .experience-content .education ul li h5, .experience-page .experience-content .work-experience ul li h5 {
  font-size: 1.5rem;
  font-weight: 600;
}

.experience-page .experience-content .education ul li h4, .experience-page .experience-content .work-experience ul li h4 {
  font-size: 1rem;
  margin: 1rem auto;
}

.portfolio-page {
  background-color: #f5f8fd;
  min-height: 100vh;
}

.portfolio-page .intro {
  padding: 3rem;
}

.portfolio-page .intro h1 {
  color: #173b6c;
  position: relative;
  padding: 5px 0;
  margin: 3rem;
}

.portfolio-page .intro h1:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #149ddd;
  bottom: 0;
  left: 0;
  display: block;
}

.portfolio-page .intro p {
  font-weight: bold;
}

.portfolio-page .list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-page .list-menu ul.portfolio-list-menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0 auto;
  background-color: white;
  border-radius: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-page .list-menu li {
  margin: 0 .7rem;
  width: 5rem;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}

.portfolio-page ul.portfolio-list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  padding: 4rem;
  grid-gap: 15px;
  max-width: 1100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio-page ul.portfolio-list li {
  width: 300px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.portfolio-page ul.portfolio-list li:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.portfolio-page ul.portfolio-list li:hover .cover {
  opacity: .95;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.portfolio-page ul.portfolio-list li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-page ul.portfolio-list li .cover {
  height: 300px;
  width: 300px;
  background-color: #b0c7df;
  position: absolute;
  opacity: 0;
  top: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: white;
}

.portfolio-page ul.portfolio-list li .cover .cover-flex {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.portfolio-page ul.portfolio-list li .cover .cover-flex a {
  font-size: 2rem;
  display: inline-block;
  margin: 1rem;
  color: white;
}

.portfolio-page ul.portfolio-list li .cover h5 {
  text-align: center;
}

.portfolio-page ul.portfolio-list li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 600px) {
  .portfolio-page .list-menu ul.protfolio-list-menu li {
    width: 4rem;
  }
}

.btn-color {
  color: #149ddd;
}

.contact-page main {
  padding: 2rem;
}

.contact-page main h1 {
  color: #173b6c;
  position: relative;
  padding: 5px 0;
  margin: 3rem;
}

.contact-page main h1:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #149ddd;
  bottom: 0;
  left: 0;
  display: block;
}

.contact-page main form {
  background-color: white;
  max-width: 600px;
}

.footer {
  background-color: #f5f8fd;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

.footer p {
  margin: 0;
  font-weight: 600;
}

.footer p a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.footer p a:hover {
  color: #93e7d1;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer ul li i {
  color: rgba(0, 0, 0, 0.5);
  margin: 1rem;
  font-size: 1rem;
}

.footer ul li i:hover {
  color: #93e7d1;
}

@media (max-width: 600px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .footer p {
    margin: 1rem;
  }
}

.mmodal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.mmodal .modal-con {
  height: 40%;
  width: 40%;
  margin: auto;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #edf8f3;
  border-radius: 1.5rem;
  border: 1px solid #dfdbdb;
}

.mmodal .modal-con section {
  margin-top: 2rem;
}

.mmodal .modal-con p {
  font-size: 1.6rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
  margin: 1rem;
  text-align: center;
}

@media (max-width: 1500px) {
  .mmodal .modal-con {
    width: 60%;
  }
  .mmodal .modal-con p {
    font-size: 1.6rem;
  }
}

@media (max-width: 1000px) {
  .mmodal .modal-con {
    width: 70%;
    font-size: 1.4rem;
  }
}

@media (max-width: 800px) {
  .mmodal .modal-con {
    width: 85%;
  }
  .mmodal .modal-con p {
    font-size: 1.25rem;
  }
}

@media (max-width: 700px) {
  .mmodal .modal-con {
    width: 90%;
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */